/* LINK TAGS are anchor tags show up as such in CSS and HTML as */
form a {

margin-left: 5px;

}
/* {

  margin:10px;
}
*/
.container {

padding-left:0px;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
margin:auto;

}
.jumbotron {

  background-color: "#71eff9";
  border-radius: 0rem;
  margin-top: 1em;;
  margin-bottom:1em;

}

.btn {

  margin-top:15px;
  margin-bottom:15px;
  margin-left:0px;
  margin-right:15px;
  cursor: pointer;
  padding:0px;

}

textarea {
  height: 10em;

}
.listItemHolder {
   margin-bottom:10px;
   padding:0px;
}
.contentP {
margin-left:0px;
}



.blogT {

margin-top:40px;

}

.contentNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left:0px;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  margin-top:-20px;
}
.contentHeader {

}
.addPost {
  margin-top:0px;
marginleft:'-15px'
};

.buttonRowPosts  {
  display:block;
margin-top:300px;
};
